<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez+SRdIo/tZ7s5wq9tg1FkFq6jIEG2P8txIjZ9iEoKA6qEGg2PWsnABhTG8KAEna" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Pokemon Card Shop Basket Page</title>
</head>
<body>

<div id="navbarContainer"></div>
<script src="navibar.js"></script>

<div class="basket-page-content">
  <h1 style="font-size: 44px; color: #333;">Your basket</h1>

  <!--if(basket.isEmpty===true) dann halt diese box anzeigen lassen-->
  <div id="empty-basket-box">
    <p style="font-size: 32px; color: white; margin: 0;">Your basket is empty.</p>
    <p style="font-size: 16px; color: white; margin: 0;">Fill up your basket with Pokemon Cards of your choice!</p>
    <button id="back-to-shop-button" onclick="window.location.href = 'index.html'">Back to the Shop ></button>
  </div>

</div>

</body>
