<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez+SRdIo/tZ7s5wq9tg1FkFq6jIEG2P8txIjZ9iEoKA6qEGg2PWsnABhTG8KAEna" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Pokemon Card Shop</title>
</head>
<body>

<!-- Navigation Bar-->
<div id="navbarContainer"></div>
<script src="navibar.js"></script>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Product Cards (Placeholder) -->
        <div class="product-card">
            <a href="productpage.html" id="1" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/pikachu.jpg" alt="Pikachu Card">
                <div class="product-name">Pikachu Card</div>
            </a>
        </div>
        <div class="product-card">
            <a href="productpage.html" id="2" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/bulbasaur.jpg" alt="Bulbasaur Card">
                <div class="product-name">Bulbasaur Card</div>
            </a>
        </div>  
        <div class="product-card">
            <a href="productpage.html" id="3" onclick="cardDirection(this)">
               <img src="/frontend/src/main/resources/static/charmander.jpg" alt="Charmander Card">
               <div class="product-name">Charmander Card</div>
            </a>
        </div>
        <div class="product-card">
            <a href="productpage.html" id="4" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/squirtle.jpg" alt="Squirtle Card">
                <div class="product-name">Squirtle Card</div>
            </a>
        </div>
        <div class="product-card">
            <a href="productpage.html" id="5" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/reverse_holo_pikachu.jpg" alt="Reserve HOLO Pikachu Card">
                <div class="product-name">Reserve HOLO Pikachu Card</div>
            </a>
        </div>
        <div class="product-card">
            <a href="productpage.html" id="6" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/holo_balbasaur.jpg" alt="HOLO Bulbasaur Card">
                <div class="product-name">HOLO Bulbasaur Card</div>
            </a>
        </div>  
        <div class="product-card">
            <a href="productpage.html" id="7" onclick="cardDirection(this)">
               <img src="/frontend/src/main/resources/static/reverse_holo_charmander.jpg" alt="Reverse HOLO Charmander Card">
               <div class="product-name">Reverse HOLO Charmander Card</div>
            </a>
        </div>
        <div class="product-card">
            <a href="productpage.html" id="8" onclick="cardDirection(this)">
                <img src="/frontend/src/main/resources/static/reverse_holo_squirtle.jpg" alt="Reverse HOLO Squirtle Card">
                <div class="product-name">Reverse HOLO Squirtle Card</div>
            </a>
        </div>      
    </div>


    <script src="script.js"></script>
</body>
</html>
