<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez+SRdIo/tZ7s5wq9tg1FkFq6jIEG2P8txIjZ9iEoKA6qEGg2PWsnABhTG8KAEna" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="productManagment.js"></script>
  <script src="basketManagement.js"></script>
  <title>Pokemon Card Shop Product Page</title>
</head>
<body>

<div id="navbarContainer"></div>
<script src="navibar.js"></script>

<div class="main-content">

<div class="product-description">
  <h1 id="cardName">Pikachu Card</h1>
  <p id="cardID">ID</p>
  <p id="cardDescription">Description</p>
  <p id="cardPrice">Price</p>
  <p id="cardFoiltype">Foiltype</p>
  <button class="basketButton" onclick="addToBasket()">Add to Basket</button>
</div>

<!-- Main Content -->

  <!-- Product Cards (Placeholder) -->
  <div class="productpage-card">
    <a href="#">
      <img src="/frontend/src/main/resources/static/pikachu.jpg" alt="Pikachu Card">
      <div class="product-name">Pikachu Card</div>
    </a>
  </div>
</div>



</body>
</html>