<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez+SRdIo/tZ7s5wq9tg1FkFq6jIEG2P8txIjZ9iEoKA6qEGg2PWsnABhTG8KAEna" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Terms & Privacy Page</title>
</head>
<body>

<div id="navbarContainer"></div>
<script src="navibar.js"></script>

<div class="basket-page-content">
  <h1 style="font-size: 44px; color: #333;">Terms & Privacy</h1>
  <div id="terms-text-box">
    <p style="font-size: 16px; color: white; margin: 0;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minus mollitia, quas aut quos dolores aliquam quia dignissimos quibusdam vel suscipit. Debitis impedit tempore, placeat unde nostrum ab labore nam!
    </p>
  </div>
</div>

</body>